IBMContractNotifier/ContractRulesDeploymentContractOperationDecisionService (1).wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:dstns="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContractOperationDecisionService" targetNamespace="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation">
  <wsdl:types>
    <xsd:schema xmlns:xom1="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation" targetNamespace="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation/param">
      <xsd:import namespace="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation"/>
      <xsd:element name="Notifications">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Notifications" type="xom1:notificationList"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Contracts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Contracts" type="xom1:contractList"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema xmlns:param="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation/param" xmlns:tns="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation" version="1.0">
      <xsd:import namespace="http://www.ibm.com/rules/decisionservice/ContractRulesDeployment/ContractOperation/param"/>

  <xs:complexType name="contractList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="contracts" nillable="true" type="tns:contract"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="accoundID" type="xs:string"/>
      <xs:element name="backLog" type="xs:double"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element name="currentPv" type="xs:double"/>
      <xs:element name="numberOfFeedbacks" type="xs:int"/>
      <xs:element name="numberOfNotifications" type="xs:int"/>
      <xs:element minOccurs="0" name="projectDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="projectName" type="xs:string"/>
      <xs:element name="tcv" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notificationList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="notifications" nillable="true" type="tns:notification"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notification">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" type="xs:string"/>
      <xs:element minOccurs="0" name="body" type="xs:string"/>
      <xs:element minOccurs="0" name="cc" type="xs:string"/>
      <xs:element minOccurs="0" name="target" type="xs:string"/>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xsd:element name="ContractOperationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="DecisionID" type="xsd:string"/>
            <xsd:element ref="param:Contracts"/>
            <xsd:element ref="param:Notifications"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ContractOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="DecisionID" type="xsd:string"/>
            <xsd:element ref="param:Notifications"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ContractOperationException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="1" minOccurs="1" name="exception" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ContractOperationResponse">
    <wsdl:part element="dstns:ContractOperationResponse" name="ContractOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ContractOperationRequest">
    <wsdl:part element="dstns:ContractOperationRequest" name="ContractOperationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ContractOperationSoapFault">
    <wsdl:part element="dstns:ContractOperationException" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContractOperationDecisionService">
    <wsdl:operation name="ContractOperation">
      <wsdl:input message="dstns:ContractOperationRequest" name="ContractOperationRequest">
    </wsdl:input>
      <wsdl:output message="dstns:ContractOperationResponse" name="ContractOperationResponse">
    </wsdl:output>
      <wsdl:fault message="dstns:ContractOperationSoapFault" name="ContractOperationSoapFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContractRulesDeploymentContractOperationBinding" type="dstns:ContractOperationDecisionService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ContractOperation">
      <soap:operation soapAction="ContractOperation" style="document"/>
      <wsdl:input name="ContractOperationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ContractOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ContractOperationSoapFault">
        <soap:fault name="ContractOperationSoapFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContractOperationDecisionService">
    <wsdl:port binding="dstns:ContractRulesDeploymentContractOperationBinding" name="ContractRulesDeploymentContractOperationPort">
      <soap:address location="http://localhost:9090/DecisionService/ws/ContractRulesDeployment/contractOperation/v75"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>